.movieInfoBody {
  margin-left: 48px;
  margin-right: 48px;
  padding-left: 36px;
  padding-right: 36px;
  margin-top: 48px;
  padding-top: 36px;
  padding-bottom: 144px;
  background-color: rgba(222, 181, 34, 0.057);
  border-radius: 6px;
}

.posterAndTrailer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.movieDetails {
  display: flex;
  justify-content: center;
  align-items: center;
}
.posterAndTrailer > img {
  height: 364px;
  width: auto;
}
