.movieInfoBody {
  margin-left: 48px;
  margin-right: 48px;
  padding-left: 36px;
  padding-right: 36px;
  margin-top: 48px;
  padding-top: 36px;
  padding-bottom: 144px;
  background-color: rgba(222, 181, 34, 0.057);
  border-radius: 6px;
}

.posterAndTrailer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-content: center;
}
.movieDetails {
  display: flex;
  justify-content: center;
  align-items: center;
}
.posterAndTrailer > img {
  height: 360px;
  width: auto;
  justify-self: start;
}
.trailer {
  justify-self: start;
}
.posterAndTrailer > p {
  grid-column: 1 / 3;
  margin-right: 288px;
}
@media (max-width: 1170px) {
  .posterAndTrailer {
    grid-template-columns: 1fr 1fr;
  }
  .trailer {
    grid-column: 1 / 3;
    justify-self: center;
  }
  .posterAndTrailer > img {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    justify-self: end;
    margin-top: 16px;
  }
  .posterAndTrailer > p {
    margin-right: 0px;
    max-width: 240px;
    justify-self: start;
    grid-row: 2 / 3;
    grid-column: 2/3;
    padding-left: 36px;
  }
}
@media (max-width: 709px) {
  .posterAndTrailer {
    grid-template-columns: 1fr;
  }
  .trailer {
    grid-column: 1 / 2;
    justify-self: center;
  }
  .posterAndTrailer > img {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    justify-self: center;
    margin-top: 16px;
  }
  .posterAndTrailer > p {
    margin-right: 0px;
    max-width: 240px;
    justify-self: center;
    grid-row: 3 / 4;
    grid-column: 1/2;
    padding-left: 0px;
  }
  #root > div > .movieInfoBody {
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
