.fiveStars {
  display: flex;
  flex-direction: row nowrap;
  list-style: none;
  padding: 0px;
}
.fiveStars > li {
  width: 20px;
  height: 20px;
  margin-right: 2px;
}
.star {
  color: white;
  height: 36px;
  width: 36px;
}
.oneStar {
  color: white;
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainFiveStars {
  width: 100%;
  height: 100%;
  flex-direction: column;
  position: fixed;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(12px);
}
.flexStars {
  height: auto;
  width: 25%;
  display: flex;
  flex-direction: row nowrap;
  margin-bottom: 18px;
}
.rateThis {
  color: #f5c518;
  margin-bottom: 4px;
}
.rateMovieTitle {
  margin-top: 4px;
}
