.search {
  position: relative;
  width: 250px;
}
.search > input {
  width: 100%;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.search > ul {
  position: absolute;
  z-index: 1;
  list-style: none;
  margin: 0;
  margin-top: 6px;
  padding: 0;
  padding-left: 6px;
  width: 350px;
  right: 0;
  background-color: rgba(84, 80, 80, 0.95);
  border-radius: 6px;
}
.search > ul > li:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  padding-left: 12px;
}
.search > ul > li {
  margin: 0;
  padding-top: 6px;
  padding-bottom: 6px;
}
